
html, body {
    height: 100%;
    margin: 0;
  }
  
.full-height {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    background-color: pink;
}

#gradient {
    padding-top: 30px;
}